.MuiDrawer-paper {
  border: none;
  border-width: 0;
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-image 0.5s ease-in-out;
}

.item {
  color: #FFF;
  display: block;
  text-decoration: none;
}

.item-active {
  color: #FFF;
}

.item:hover {
  background-color: black;
}